.lg-backdrop{
  background: $off-black
}
.lg-caption-active{
  .lg-img-wrap{
    padding-right: 400px;
  }
  .lg-sub-html{
    right: 80px;
  }
}
.lg-actions{
  top: 0;
  height: unset;
  display: inline
}
.lg-sub-html{
  position: absolute;
  top: 0px;
  right: -300px;
  width: 300px;
  padding: 20px;
  background: $off-black-1;
  position: absolute;
  left: auto;
  overflow: auto;
  height: 100%;
  overflow: auto;
  z-index: 0;
  text-align: left;
}
.lg-hide-items{
  .lg-img-wrap{
    padding-right: 0rem;
  }
}

.lg-toolbar{
  left: auto;
  right: 0;
  bottom: 0;
  width: 80px;
  background: $off-black-1;
  border-left: 1px solid $off-black;
  text-align: center;
  // .lg-counter, .lg-share, .lg-caption-icon, .lg-actions{
  //   display: inline;
  //   position: relative;
  //   width: 80px;
  // }
  .lg-icon, .lg-share{
    float: none;
    height: 60px;
    line-height: 60px;
    width: 60px;
    font-size: 24px;
    padding: 10px;
    background: none;
    display: inline;
  }
  #lg-counter{
    padding: 20px;
  }
  .lg-actions .lg-icon{
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    margin-top: 0;
  }
}

.lg-progress-bar .lg-progress{
  background-color: $primary-color !important;
}
